
.header {
    text-align: center;
    padding-top: 30px;
}
.basic-info {
    border-bottom: 1px solid #000;
}
.fullname {
    font-weight: 700;
}
.address, .contact {
    margin: 0;
    padding: 0px;
}
.contact a {
    text-decoration: none;
    color: #000;
}
.contact i.fa-phone {
    color: #3bb673
}
.contact i.fa-envelope {
    color: #c75b5b
}
.contact i.fa-facebook {
    color: #0b59bd
}